# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# environments
.venv/
venv/
env/

# env files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db